.portfolio {
  display: flex;
  width: 100vw;
  max-width: 1200px;
  flex-direction: column;
  height: auto;
  main {
    height: auto;
    display: flex;
    flex-direction: column;
    background: white;
  }
  h1 {
    margin: 5vh 0;
  }
  ul {
    padding: 5vh 5vw;
  }
  li {
    display: inline-block;
    border: 1px solid $colorBold;
    color: $colorNormal;
    font-family: $fontHeader;
    font-size: 0.8em;
    border-radius: 10%;
    padding: 1vh 2vh;
    text-transform: uppercase;
    font-weight: 100;
    &:hover {
      color: white;
      background: $colorBold;
    }
  }
}
.beautifier {
  display: none;
}
  .beautifier-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1200px;
    align-items: center;
    p {
      max-height: 80px;
      margin: 0;
      margin-bottom: 3vh;
      align-items: center;
    }
  }
.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  img {
    width: auto;
    max-width: 100vw;
    &:hover {
      opacity: 0.5;
    }
  }
  &.hidden {
    display: none;
  }
  h3 {
    margin: 2vh auto 0 auto;
    font-family: $fontText;
    text-shadow: 1px 0 10px $colorLight;
    color: black;
  }
  p {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    height: auto;
  }
}
@media (min-width: $thirDim) {
  .beautifier {
    display: flex;
    height: 10vh;
    width: 100vw;
    max-width: 1200px;
  }
  .color {
    width: 15vw;
    background: $colorBackground;
  }
  .white {
    width: 100vw;
    max-width: 900px;
    background: white;
    border-top: 1px solid $colorLight;
    border-left: 1px solid $colorLight;
    border-right: 1px solid $colorLight;
  }
  .beautifier-main {
    max-width: 900px;
    border-right: 1px solid #ccd0d2;
    border-left: 1px solid #ccd0d2;
    border-bottom: 1px solid #ccd0d2;
  }
  .image {
    max-width: 900px;
  }
}