.quote {
  background: white url("../img/quote.png") center center;
  background-size: cover;
  width: 100vw;
  max-width: 1200px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div i {
    font-family: $iconFont;
    font-style: normal;
    font-size: 6vh;
  }
  h1 {
    @include styleHeader(5vh);
    text-align: center;
    @media (min-width: $seconDim) {
      font-size: 4vh;
      margin-top: 25px;
    }
  }
  @media (min-width: $seconDim) {
    height: 40vh;
  }
  @media (min-width: $seconDim) {
    height: 45vh;
  }
}