.skills {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  h1 {
    @include styleHeader(5vh);
    color: $colorNormal;
    background-color: white;
    z-index: 1;
    position: relative;
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #9f449b;
      border-left: 1px solid #9f449b;
      position: absolute;
      left: -15px;
      bottom: -5px;
      z-index: -1;
      transition: 1s;
      animation-timing-function: ease;
    }
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      border-top: 1px solid $colorBold;
      border-right: 1px solid $colorBold;
      position: absolute;
      right: -15px;
      top: -5px;
      z-index: -1;
      transition: 0.5s;
      animation-timing-function: ease;
    }
    &:hover {
      &:after {
        transform: scale(1.3);
      }
      &:before {
        transform: scale(1.3);
      }
    }
    @media (min-width: $forthDim) {
      margin-bottom: -50px;
    }
  }
  @media (min-width: $firstDim) {
    height:70vh;
  }
}

.skillset {
  display: flex;
  width: 100vw;
  flex-direction: row;
  height: 80%;
  flex-wrap: wrap;
  @media (min-width: $firstDim) {
   justify-content: space-around;
    height: 50%;
  }
  @media (min-width: $seconDim) {
    width: 90vw;
    max-width: 700px;
  }
}
.skill {
  width: 90vw;
  p {
    display: flex;
  }
  @media (min-width: $firstDim) {
    width: 40vw;
    height: 10vh;
    max-height: 50px;
    max-width: 250px;
  }
}
.skill-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
  width: 80vw;
  h3 {
    font-family: $fontHeader;
    font-weight: 700;
    text-transform: uppercase;
  }
  span {
    font-family: $fontHeader;
    color: $colorNormal;
  }
  @media (min-width: $firstDim) {
    width: 40vw;
    max-width: 250px;
  }
}
.skillBar {
  height: 2vh;
  min-height: 15px;
  width: 80vw;
  background-color: $colorLight;
  display: block;
  @media (min-width: $firstDim) {
    width: 40vw;
    max-width: 250px;
  }
}
.skillFilling {
  height: 100%;
  background-color: $colorBold;
  width: 10%;
}