.skills {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  h1 {
    @include styleHeader(5vh);
    color: $fontColTxt;
    background-color: white;
    z-index: 1;
    position: relative;
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #9f449b;
      border-left: 1px solid #9f449b;
      position: absolute;
      left: -15px;
      bottom: -5px;
      z-index: -1;
      transition: 1s;
      animation-timing-function: ease;
    }
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      border-top: 1px solid $fontColEm;
      border-right: 1px solid $fontColEm;
      position: absolute;
      right: -15px;
      top: -5px;
      z-index: -1;
      transition: 0.5s;
      animation-timing-function: ease;
    }
    &:hover {
      &:after {
        transform: scale(1.3);
      }
      &:before {
        transform: scale(1.3);
      }
    }
    @media (min-width: $forthDim) {
      margin-bottom: -50px;
    }
  }
}
.skillset {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 80%;
  flex-wrap: wrap;
}
.skill {
  width: 90vw;
  p {
    display: flex;
  }
}
.skill-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
  width: 80vw;
  h3 {
    font-family: $fontHeader;
    font-weight: 700;
    text-transform: uppercase;
  }
  span {
    font-family: $fontHeader;
    color: $fontColTxt;
  }
}
.skillBar {
  height: 2vh;
  min-height: 15px;
  width: 80vw;
  background-color: $fontColDis;
  display: block;
}
.skillFilling {
  height: 100%;
  background-color: $fontColEm;
  width: 10%;
}