.statistics {
  width: 100vw;
  margin: -1vh 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
  p {
    width: 40vw;
    max-width: 150px;
    & span:first-child {
      color: black;
      font-size: 4em;
      display: block;
    }
    & span:last-child {
      color: $colorNormal;
      font-size: 1.1em;
    }
  }
  @media (min-width: $firstDim) {

    }
  }