$fontColEm: #9f449b;
$fontColTxt: #666;
$fontColDis: #ccd0d2;
$bgCol: #eee;


$fontHeader: 'Ubuntu', sans-serif;
$fontText: 'Roboto', sans-serif;
$iconFont: 'Flaticon';

$firstDim: 535px;
$seconDim: 680px;
$thirDim: 1024px;
$forthDim: 1200px;

@mixin styleHeader ($height) {
  color: white;
  font-size: $height;
  font-family: $fontHeader;
  font-weight: 300;
  em {
    font-weight: 300;
    font-style: normal;
    color: $fontColEm;
  }
}
