@import "variables";
@import "flaticon";
@import "header";
@import "features";
@import "about";
@import "quote";
@import "team";
@import "skills";
@import "stats";
@import "testimony";
@import "gallery";
@import "contacs";
@import "blog";

body {
	background-color: black;
	overflow-x: hidden;
}
.body {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.img {
	background-image: url("../img/hex.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 15vh;
	height: 16vh;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	i {
		font-family: $iconFont;
		font-style: normal;
		cursor: pointer;
	}
	p {
		font-family: $fontText;
	}
	@media (min-width: $firstDim) {
		&:nth-of-type(3) {
			align-self: flex-start;
		}
		&:nth-of-type(4) {
			align-self: flex-start;
		}
	}
	@media (min-width: $thirDim) {
		width: 13vh;
		height: 14vh;
	}
}
nav {
	display: none;
	@media (min-width: $thirDim) {
		display: flex;
		background-color: white;
		height: 13vh;
		justify-content: space-around;
		align-items: center;
      &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 1200px;
		  background-color: rgba(250, 250, 250, 0.8);
		  z-index: 2;
      }
		li {
			cursor: pointer;
			border-bottom: 4px solid transparent;
			padding: 0 1vw 2vh 1vw;
			&:hover {
				border-bottom: 4px solid $colorBold;
			}
			&.active {
				border-bottom: 4px solid $colorBold;
			}
		}
	}
	h2 {
		@include styleHeader(3vh);
		color: $colorNormal;
	}
	ul {
		display: flex;
		justify-content: center;
		width: 35%;
	}
	li {
		text-transform: uppercase;
		color: #333;
		font-size: 1.8vh;
		font-family: $fontHeader;
	}
}
footer {
  width: 100vw;
  max-width: 1200px;
  background: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    @include styleHeader(3vh);
    color: $colorNormal;
  }
}