@import "variables";
@import "flaticon";
@import "header";
@import "section";
@import "about";

body {
	background-color: black;
}
.body {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.img {
	background-image: url("../img/hex.png");
	background-size: cover;
	width: 15vh;
	height: 16vh;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	p {
		font-family: $fontText;
	}
	@media (min-width: $firstDim) {
		&:nth-of-type(3) {
			align-self: flex-start;
		}
		&:nth-of-type(4) {
			align-self: flex-start;
		}
	}
	@media (min-width: $thirDim) {
		width: 13vh;
		height: 14vh;
	}
}
nav {
	display: none;
	@media (min-width: $thirDim) {
		display: flex;
		background-color: white;
		height: 13vh;
		justify-content: space-around;
		align-items: center;
	}
	h2 {
		@include styleHeader(3vh);
		color: $fontColtxt;
	}
	ul {
		display: flex;
		justify-content: space-between;
		width: 35%;
	}
	li {
		text-transform: uppercase;
		color: #333;
		font-size: 1.8vh;
		font-family: $fontHeader;
	}
}
