/*
Flaticon icon font: Flaticon
Creation date: 22/06/2016 15:00
*/
@font-face {
  font-family: "Flaticon";
  src: url("font/Flaticon.eot");
  src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"), url("font/Flaticon.woff") format("woff"), url("font/Flaticon.ttf") format("truetype"), url("font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("font/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-banknote:before {
  content: "\f100"; }

.flaticon-big-megaphone:before {
  content: "\f101"; }

.flaticon-big-star:before {
  content: "\f102"; }

.flaticon-camera-video:before {
  content: "\f103"; }

.flaticon-chemistry:before {
  content: "\f104"; }

.flaticon-coffee:before {
  content: "\f105"; }

.flaticon-daily-newspaper:before {
  content: "\f106"; }

.flaticon-database:before {
  content: "\f107"; }

.flaticon-diamond:before {
  content: "\f108"; }

.flaticon-digital-photo:before {
  content: "\f109"; }

.flaticon-dustbin:before {
  content: "\f10a"; }

.flaticon-envelope:before {
  content: "\f10b"; }

.flaticon-eye:before {
  content: "\f10c"; }

.flaticon-flame:before {
  content: "\f10d"; }

.flaticon-graduation-cap:before {
  content: "\f10e"; }

.flaticon-groceries-store:before {
  content: "\f10f"; }

.flaticon-heart-shape:before {
  content: "\f110"; }

.flaticon-inbox:before {
  content: "\f111"; }

.flaticon-like:before {
  content: "\f112"; }

.flaticon-location-gps:before {
  content: "\f113"; }

.flaticon-locked-padlock:before {
  content: "\f114"; }

.flaticon-newspaper:before {
  content: "\f115"; }

.flaticon-noodle-bowl:before {
  content: "\f116"; }

.flaticon-paper-plane:before {
  content: "\f117"; }

.flaticon-paperclip-archive:before {
  content: "\f118"; }

.flaticon-parameters:before {
  content: "\f119"; }

.flaticon-pencil-with-rubber:before {
  content: "\f11a"; }

.flaticon-quaver:before {
  content: "\f11b"; }

.flaticon-reflex-camera:before {
  content: "\f11c"; }

.flaticon-screen-outline:before {
  content: "\f11d"; }

.flaticon-setting-tool:before {
  content: "\f11e"; }

.flaticon-small-calendar:before {
  content: "\f11f"; }

.flaticon-small-cloud:before {
  content: "\f120"; }

.flaticon-small-key:before {
  content: "\f121"; }

.flaticon-small-light-bulb:before {
  content: "\f122"; }

.flaticon-small-truck:before {
  content: "\f123"; }

.flaticon-smartphone-outline:before {
  content: "\f124"; }

.flaticon-sound-on:before {
  content: "\f125"; }

.flaticon-speech-bubble:before {
  content: "\f126"; }

.flaticon-tag:before {
  content: "\f127"; }

.flaticon-television-outline:before {
  content: "\f128"; }

.flaticon-the-world:before {
  content: "\f129"; }

.flaticon-user-avatar:before {
  content: "\f12a"; }

.flaticon-vynil:before {
  content: "\f12b"; }

.flaticon-wallet-with-zipper:before {
  content: "\f12c"; }

.flaticon-white-t-shirt:before {
  content: "\f12d"; }

.flaticon-wristwatch:before {
  content: "\f12e"; }

.flaticon-zoom-tool:before {
  content: "\f12f"; }

header {
  background: url("../img/main.jpg") no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh; }
  @media (min-width: 700px) {
    header {
      padding: 0 10%; } }
  @media (min-width: 1024px) {
    header {
      height: 80vh;
      padding: 0 35vh;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    header {
      padding: 0 40vh; } }
  header i {
    font-style: normal;
    margin-bottom: 10px; }
  header .images {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35vh;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Flaticon";
    font-size: 5vh; }
    header .images .img:hover {
      background-image: url("../img/hex-hover.png"); }
    @media (min-width: 535px) {
      header .images {
        align-items: flex-end; } }
    @media (min-width: 1024px) {
      header .images {
        font-size: 4vh;
        height: 30vh;
        margin-bottom: -50px; } }
  header h1 {
    color: white;
    font-size: 10vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    margin-top: 50px; }
    header h1 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
  header h2 {
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 4vh; }
  header p {
    color: white;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 2vh;
    line-height: 1.5; }
  header .scroll {
    display: none; }
    @media (min-width: 1024px) {
      header .scroll {
        background-image: url("../img/arrow-down.png");
        display: block;
        width: 50px;
        height: 55px;
        margin-bottom: 15px;
        background-size: cover; } }

section {
  background-color: #eee;
  display: flex;
  padding-top: 10px;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  height: 100vh; }
  section div {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    section div i {
      font-family: "Flaticon";
      font-style: normal;
      font-size: 6vh;
      color: #ccd0d2; }
    section div .img {
      background-image: url("../img/hex-grey.png"); }
    section div .img:hover {
      color: #9f449b;
      background-image: url("../img/hex-hover2.png"); }
      section div .img:hover i {
        color: #9f449b; }
    @media (min-width: 700px) {
      section div {
        width: 25%;
        height: 35vh;
        justify-content: flex-start; } }
  @media (min-width: 700px) {
    section {
      height: 70vh;
      align-items: center;
      padding: 0 10%; } }
  @media (min-width: 1024px) {
    section {
      height: 50vh;
      padding: 0 20%; } }
  section h2 {
    color: white;
    font-size: 3vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #333;
    margin: 10px 0; }
    section h2 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
    @media (min-width: 700px) {
      section h2 {
        font-size: 2vh; } }
  section p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #333;
    font-size: 1.9vh;
    padding: 0 10px 10px 10px; }
    @media (min-width: 700px) {
      section p {
        font-size: 1.6vh; } }

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  width: 100%;
  max-width: 1200px; }
  .about h1 {
    color: white;
    font-size: 5vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #333;
    background-color: white;
    z-index: 1;
    position: relative; }
    .about h1 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
    .about h1:before {
      content: '';
      width: 20px;
      height: 20px;
      border-top: 1px solid #ccd0d2;
      border-left: 1px solid #ccd0d2;
      position: absolute;
      left: -15px;
      top: -5px;
      z-index: -1; }
    .about h1:after {
      content: '';
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #ccd0d2;
      border-right: 1px solid #ccd0d2;
      position: absolute;
      right: -15px;
      bottom: -5px;
      z-index: -1; }
  .about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .about p {
    text-align: center;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 2.2vh;
    width: 80vw;
    max-width: 600px; }
  .about img {
    max-width: 80vw; }

body {
  background-color: black; }

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.img {
  background-image: url("../img/hex.png");
  background-size: cover;
  width: 15vh;
  height: 16vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .img p {
    font-family: "Roboto", sans-serif; }
  @media (min-width: 535px) {
    .img:nth-of-type(3) {
      align-self: flex-start; }
    .img:nth-of-type(4) {
      align-self: flex-start; } }
  @media (min-width: 1024px) {
    .img {
      width: 13vh;
      height: 14vh; } }

nav {
  display: none; }
  @media (min-width: 1024px) {
    nav {
      display: flex;
      background-color: white;
      height: 13vh;
      justify-content: space-around;
      align-items: center; } }
  nav h2 {
    color: white;
    font-size: 3vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #333; }
    nav h2 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
  nav ul {
    display: flex;
    justify-content: space-between;
    width: 35%; }
  nav li {
    text-transform: uppercase;
    color: #333;
    font-size: 1.8vh;
    font-family: "Ubuntu", sans-serif; }

/*# sourceMappingURL=style.css.map */
