/*
Flaticon icon font: Flaticon
Creation date: 22/06/2016 15:00
*/
@font-face {
  font-family: "Flaticon";
  src: url("font/Flaticon.eot");
  src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"), url("font/Flaticon.woff") format("woff"), url("font/Flaticon.ttf") format("truetype"), url("font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("font/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-banknote:before {
  content: "\f100"; }

.flaticon-big-megaphone:before {
  content: "\f101"; }

.flaticon-big-star:before {
  content: "\f102"; }

.flaticon-camera-video:before {
  content: "\f103"; }

.flaticon-chemistry:before {
  content: "\f104"; }

.flaticon-coffee:before {
  content: "\f105"; }

.flaticon-daily-newspaper:before {
  content: "\f106"; }

.flaticon-database:before {
  content: "\f107"; }

.flaticon-diamond:before {
  content: "\f108"; }

.flaticon-digital-photo:before {
  content: "\f109"; }

.flaticon-dustbin:before {
  content: "\f10a"; }

.flaticon-envelope:before {
  content: "\f10b"; }

.flaticon-eye:before {
  content: "\f10c"; }

.flaticon-flame:before {
  content: "\f10d"; }

.flaticon-graduation-cap:before {
  content: "\f10e"; }

.flaticon-groceries-store:before {
  content: "\f10f"; }

.flaticon-heart-shape:before {
  content: "\f110"; }

.flaticon-inbox:before {
  content: "\f111"; }

.flaticon-like:before {
  content: "\f112"; }

.flaticon-location-gps:before {
  content: "\f113"; }

.flaticon-locked-padlock:before {
  content: "\f114"; }

.flaticon-newspaper:before {
  content: "\f115"; }

.flaticon-noodle-bowl:before {
  content: "\f116"; }

.flaticon-paper-plane:before {
  content: "\f117"; }

.flaticon-paperclip-archive:before {
  content: "\f118"; }

.flaticon-parameters:before {
  content: "\f119"; }

.flaticon-pencil-with-rubber:before {
  content: "\f11a"; }

.flaticon-quaver:before {
  content: "\f11b"; }

.flaticon-reflex-camera:before {
  content: "\f11c"; }

.flaticon-screen-outline:before {
  content: "\f11d"; }

.flaticon-setting-tool:before {
  content: "\f11e"; }

.flaticon-small-calendar:before {
  content: "\f11f"; }

.flaticon-small-cloud:before {
  content: "\f120"; }

.flaticon-small-key:before {
  content: "\f121"; }

.flaticon-small-light-bulb:before {
  content: "\f122"; }

.flaticon-small-truck:before {
  content: "\f123"; }

.flaticon-smartphone-outline:before {
  content: "\f124"; }

.flaticon-sound-on:before {
  content: "\f125"; }

.flaticon-speech-bubble:before {
  content: "\f126"; }

.flaticon-tag:before {
  content: "\f127"; }

.flaticon-television-outline:before {
  content: "\f128"; }

.flaticon-the-world:before {
  content: "\f129"; }

.flaticon-user-avatar:before {
  content: "\f12a"; }

.flaticon-vynil:before {
  content: "\f12b"; }

.flaticon-wallet-with-zipper:before {
  content: "\f12c"; }

.flaticon-white-t-shirt:before {
  content: "\f12d"; }

.flaticon-wristwatch:before {
  content: "\f12e"; }

.flaticon-zoom-tool:before {
  content: "\f12f"; }

header {
  background: url("../img/main.jpg") no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh; }
  @media (min-width: 680px) {
    header {
      padding: 0 10%; } }
  @media (min-width: 1024px) {
    header {
      height: 80vh;
      padding: 0 35vh;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    header {
      padding: 0px 25vh; } }
  header i {
    font-style: normal;
    margin-bottom: 10px; }
  header .images {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35vh;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Flaticon";
    font-size: 5vh; }
    header .images .img {
      transition: 0.8s; }
      header .images .img:hover {
        background-image: url("../img/hex-hover.png");
        transform: scale(0.9); }
    @media (min-width: 535px) {
      header .images {
        align-items: flex-end; } }
    @media (min-width: 1024px) {
      header .images {
        font-size: 4vh;
        height: 30vh;
        margin-bottom: -50px; } }
  header h1 {
    color: white;
    font-size: 10vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    margin-top: 50px; }
    header h1 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
  header h2 {
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 4vh; }
  header p {
    color: white;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 2vh;
    line-height: 1.5; }
  header .scroll {
    display: none; }
    @media (min-width: 1024px) {
      header .scroll {
        background-image: url("../img/arrow-down.png");
        display: block;
        width: 50px;
        height: 55px;
        margin-bottom: 15px;
        background-size: cover; } }

section {
  background-color: #eee;
  display: flex;
  padding-top: 10px;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  height: 100vh; }
  section div {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    section div i {
      font-family: "Flaticon";
      font-style: normal;
      font-size: 6vh;
      color: #ccd0d2;
      transition: 0.8s; }
    section div .img {
      background-image: url("../img/hex-grey.png");
      background-repeat: no-repeat;
      transition: 0.8s; }
    section div .img:hover {
      color: #9f449b;
      background-image: url("../img/hex-hover2.png"); }
      section div .img:hover i {
        color: #9f449b; }
    @media (min-width: 680px) {
      section div {
        width: 25%;
        height: 35vh;
        justify-content: flex-start; } }
  @media (min-width: 680px) {
    section {
      height: 70vh;
      align-items: center;
      padding: 0 10%; } }
  @media (min-width: 1024px) {
    section {
      height: 50vh;
      padding: 0 20%; } }
  section h2 {
    color: white;
    font-size: 3vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #666;
    margin: 10px 0; }
    section h2 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
    @media (min-width: 680px) {
      section h2 {
        font-size: 2vh; } }
  section p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #333;
    font-size: 1.9vh;
    padding: 0 10px 10px 10px; }
    @media (min-width: 680px) {
      section p {
        font-size: 1.6vh; } }

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  max-width: 1200px; }
  main h1 {
    color: white;
    font-size: 5vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #666;
    background-color: white;
    z-index: 1;
    position: relative; }
    main h1 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
    main h1:before {
      content: '';
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #9f449b;
      border-left: 1px solid #9f449b;
      position: absolute;
      left: -15px;
      bottom: -5px;
      z-index: -1;
      transition: 1s;
      animation-timing-function: ease; }
    main h1:after {
      content: '';
      width: 20px;
      height: 20px;
      border-top: 1px solid #9f449b;
      border-right: 1px solid #9f449b;
      position: absolute;
      right: -15px;
      top: -5px;
      z-index: -1;
      transition: 0.5s;
      animation-timing-function: ease; }
    main h1:hover:after {
      transform: scale(1.3); }
    main h1:hover:before {
      transform: scale(1.3); }
    @media (min-width: 1200px) {
      main h1 {
        margin-bottom: -50px; } }
  main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    @media (min-width: 680px) {
      main div {
        flex-direction: row;
        width: 70vw;
        align-items: flex-end;
        justify-content: center; } }
  main p {
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    color: #666;
    font-size: 2.2vh;
    width: 80vw;
    line-height: 2;
    max-width: 400px;
    text-align: justify;
    align-items: center;
    display: flex;
    flex-direction: column; }
    @media (min-width: 680px) {
      main p {
        font-size: 1.9vh;
        align-items: flex-start;
        margin-left: 20px;
        justify-content: space-around;
        height: 45vh; } }
    main p a {
      display: block;
      color: white;
      font-weight: 300;
      padding: 10px 0 15px 0;
      width: 50vw;
      max-width: 150px;
      border-radius: 3px;
      box-shadow: 0 1px 1px 1px black;
      margin: 10px 0 0 0;
      background-color: #9f449b;
      text-align: center;
      transition: background-color 0.5s ease; }
      main p a:hover {
        background-color: #ccd0d2; }
  main img {
    width: 80vw; }
    @media (min-width: 535px) {
      main img {
        max-width: 60vw; } }
  @media (min-width: 535px) and (orientation: landscape) {
    main img {
      max-width: 50vw; } }

    @media (min-width: 680px) {
      main img {
        max-width: 45vw; } }
    @media (min-width: 680px) {
      main img {
        max-width: 40vw; } }
    @media (min-width: 1200px) {
      main img {
        width: 30vw; } }

.quote {
  background: white url("../img/quote.png") center center;
  background-size: cover;
  width: 100vw;
  max-width: 1200px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .quote div i {
    font-size: 6vh; }
  .quote h1 {
    color: white;
    font-size: 5vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-align: center; }
    .quote h1 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
    @media (min-width: 680px) {
      .quote h1 {
        font-size: 4vh;
        margin-top: 25px; } }
  @media (min-width: 680px) {
    .quote {
      height: 40vh; } }
  @media (min-width: 680px) {
    .quote {
      height: 45vh; } }

.team {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 700px; }
  .team div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 535px) {
      .team div {
        flex-direction: row; } }
  .team .name {
    padding-left: 10px;
    width: 20vh; }
    .team .name h3 {
      color: white;
      font-size: 3vh;
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      color: #666;
      text-align: left;
      font-weight: 500; }
      .team .name h3 em {
        font-weight: 300;
        font-style: normal;
        color: #9f449b; }
      @media (min-width: 535px) {
        .team .name h3 {
          text-align: center;
          margin-top: 10px; } }
      @media (min-width: 1024px) {
        .team .name h3 {
          font-size: 2vh; } }
    .team .name h4 {
      color: white;
      font-size: 2vh;
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      color: #666;
      text-align: left; }
      .team .name h4 em {
        font-weight: 300;
        font-style: normal;
        color: #9f449b; }
      @media (min-width: 535px) {
        .team .name h4 {
          text-align: center; } }
      @media (min-width: 1024px) {
        .team .name h4 {
          font-size: 1.7vh;
          margin-top: 10px; } }
    @media (min-width: 535px) {
      .team .name {
        flex-direction: column; } }
  .team img {
    width: 15vw; }
    @media (min-width: 680px) {
      .team img {
        width: 10vh; } }
  .team .members {
    max-width: 600px; }
    @media (min-width: 535px) {
      .team .members {
        width: 100vw;
        justify-content: space-around; } }
  .team .member {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 20px; }
    .team .member img {
      width: 10vw;
      max-width: 50px;
      max-height: 50px; }
    @media (min-width: 535px) {
      .team .member {
        flex-direction: column; } }
  .team p {
    width: 15vw; }
    @media (min-width: 535px) {
      .team p {
        display: flex;
        flex-direction: row;
        max-height: 50px;
        justify-content: center;
        margin-left: 0; } }

.round {
  width: 20vh;
  height: 20vh;
  background-color: #666;
  border-radius: 50%; }

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.skills {
  height: 100vh; }
  .skills > div {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
    height: 5vh; }

/* ******************************************************
    Animated Skills Bar
*********************************************************/
#codeconSkills {
  font-size: 20px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  display: flex; }

#codeconSkills img {
  width: 20%;
  height: 10%;
  margin: auto 35%;
  padding: 10px; }

.codeconSkillbar {
  width: 90%;
  height: 50px;
  position: relative;
  background: rgba(17, 17, 17, 0.3);
  margin: 20px auto; }

#codeconHTML {
  width: 100%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  position: absolute;
  background-color: #ea8564; }

@keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 100%; } }
@-webkit-keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 100%; } }
@-moz-keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 100%; } }
@-o-keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 100%; } }
#codeconCSS {
  animation: Animate-CSS 5s;
  -webkit-animation: Animate-CSS 5s;
  -moz-animation: Animate-CSS 5s;
  -o-animation: Animate-CSS 5s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #55a69f; }

@keyframes Animate-CSS {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-webkit-keyframes Animate-CSS {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-moz-keyframes Animate-CSS {
  from {
    width: 10px; }
  to {
    width: 70%; } }
@-o-keyframes Animate-CSS {
  from {
    width: 10px; }
  to {
    width: 70%; } }
#codeconjQuery {
  animation: Animate-jQuery 5s;
  -webkit-animation: Animate-jQuery 5s;
  -moz-animation: Animate-jQuery 5s;
  -o-animation: Animate-jQuery 5s;
  width: 40%;
  height: 50px;
  position: absolute;
  background-color: #99856d; }

@keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 40%; } }
@-webkit-keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 40%; } }
@-moz-keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 40%; } }
@-o-keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 40%; } }
#codeconJS {
  animation: Animate-JS 4s;
  -webkit-animation: Animate-JS 4s;
  -moz-animation: Animate-JS 4s;
  -o-animation: Animate-JS 4s;
  width: 65%;
  height: 50px;
  position: absolute;
  background-color: #c44e45; }

@keyframes Animate-JS {
  from {
    width: 10px; }
  to {
    width: 65%; } }
@-webkit-keyframes Animate-JS {
  from {
    width: 10px; }
  to {
    width: 65%; } }
@-moz-keyframes Animate-JS {
  from {
    width: 10px; }
  to {
    width: 65%; } }
@-o-keyframes Animate-JS {
  from {
    width: 10px; }
  to {
    width: 65%; } }
.codeconSkillArea {
  z-index: 1;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff;
  font-size: 18px; }

.PercentText {
  z-index: 3;
  position: relative;
  padding-right: 15px;
  margin-top: 15px;
  float: right;
  text-shadow: none;
  color: #fff;
  font-size: 18px; }

body {
  background-color: black; }

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.img {
  background-image: url("../img/hex.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15vh;
  height: 16vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .img i {
    font-family: "Flaticon";
    font-style: normal; }
  .img p {
    font-family: "Roboto", sans-serif; }
  @media (min-width: 535px) {
    .img:nth-of-type(3) {
      align-self: flex-start; }
    .img:nth-of-type(4) {
      align-self: flex-start; } }
  @media (min-width: 1024px) {
    .img {
      width: 13vh;
      height: 14vh; } }

nav {
  display: none; }
  @media (min-width: 1024px) {
    nav {
      display: flex;
      background-color: white;
      height: 13vh;
      justify-content: space-around;
      align-items: center; } }
  nav h2 {
    color: white;
    font-size: 3vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #666; }
    nav h2 em {
      font-weight: 300;
      font-style: normal;
      color: #9f449b; }
  nav ul {
    display: flex;
    justify-content: space-between;
    width: 35%; }
  nav li {
    text-transform: uppercase;
    color: #333;
    font-size: 1.8vh;
    font-family: "Ubuntu", sans-serif; }

/*# sourceMappingURL=style.css.map */
