@import "variables";
@import "flaticon";


body {
	background-color: black;
}
.body {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
header {
	background: url("../img/main.jpg") no-repeat center top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100vh;
	@media (min-width: $seconDim) {
		padding: 0 10%;
	}
	@media (min-width: $thirDim) {
		height: 80vh;
		padding: 0 35vh;
	}

	i {
		font-style: normal;
		margin-bottom: 10px;
	}
	.images {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 35vh;
		flex-wrap: wrap;
		justify-content: space-around;
		font-family: $iconFont;
		font-size: 5vh;
		@media (min-width: $firstDim) {
			align-items: flex-end;
		}
		.img {
			background-image: url("../img/hex.png");
			background-size: cover;
			width: 15vh;
			height: 16vh;
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			&:hover {
				background-image: url("../img/hex-hover.png");
			}
			p {
				font-family: $fontText;
			}
			@media (min-width: $firstDim) {
				&:nth-of-type(3) {
					align-self: flex-start;
				}
				&:nth-of-type(4) {
					align-self: flex-start;
				}
			}
		}
	}
	h1 {
		color: white;
		font-family: $fontHeader;
		font-size: 10vh;
		margin-top: 50px;
		font-weight: 300;
		em {
			font-weight: 300;
			font-style: normal;
			color: $fontColEm;
		}
	}
	h2 {
		font-family: $fontHeader;
		color: white;
		text-align: center;
		font-weight: 300;
		font-size: 4vh;
	}
	p {
		color: white;
		text-align: center;
		font-family: $fontHeader;
		font-weight: 300;
		font-size: 2vh;
		line-height: 1.5;
	}
}